<div class="cabecalho">
  <%= render partial: "/tampletes/menu" %>
</div>
<div id="conteudo">
  <h1 class="titulo">Lista de tipos</h1>
  <p id="notice"><%= notice %></p>
  

  <%= link_to 'Novo tipo', new_tipo_path, :class => "btn btn-info"  %>
  
  <table class="table table-striped table-sm" style="margin-top: 5px;">
    <thead class="thead-dark">
      <tr>
        <th>Descricao</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @tipos.each do |tipo| %>
      <tr>
        <td><%= tipo.descricao %></td>
        <td><%= link_to 'Exibir', tipo %></td>
        <td><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
        <td><%= link_to 'Excluir', tipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  
</div>